@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #f5f5f8;
  overflow-x: hidden;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 28px;
}

.nav {
  display: flex;
  gap: 150px;
}

.nav a {
  text-decoration: none;
  color: #606060;
  font-weight: 600;
  font-size: 20px;
}


/* ===== MAIN ===== */
.container {
  width: 1500px;
  margin: 30px auto;
}
.title-wrapper {
  display: flex;
  align-items: center; 
  gap: 10px; 
}
#color{
  color: #323142;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
}
#color_2{
  color: #6f66c7;
   font-size: 32px;
  font-weight: 700;
}
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* ===== SORT ===== */
.sort-text{
  font-size: 28px;
}
.sort-wrapper {
  position: relative;
}

.sort-btn {
  width: 160px;
  height: 40px;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 32px;
  font-weight: 700;
  color: #323142;
  cursor: pointer;
}

.sort-popup {
  position: absolute;
  top: 50px;
  left: 0;
  width: 400px;
  background: #fff;
  border-radius: 18px;
  padding: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
  display: none;
  z-index: 10;
}

.sort-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.sort-section label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #606060;
}

.sort-title {
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 28px;
}

.apply {
  width: 100%;
  height: 40px;
  background: #6f66c7;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
}

.close {
  cursor: pointer;
}

/* ===== GRID ===== */
/* ОТСЮДА СТИЛЬ ДЛЯ БЛЮД */
.grid {
  margin-left: 25px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 85px;


}

.card {
  margin-top: 30px;
  width: 220px;
  height: 260px;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transform: scale(1.3);
}

.image {
  width: 190px;
  height: 130px;
  background: #e0e0e0;
  border-radius: 15px;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
}

.name {
  font-size: 16px;
}

.price {
  font-size: 14px;
  color: #777;
}

.add {
  width: 36px;
  height: 36px;
  background: #2e2e38;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}