{% if request.user.role == 'Administrator' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static "css/zav_ad.css" %}">
    
</head>
<body>

<header class="header">
    <div class="logo"><a href='{% url "index" %}' ><img src="{% static "img/Logo.png" %}"></a></div>

    <nav class="nav">
      <a href='{% url "statistics" %}'>Статистика</a>
      <a href='{% url "application" %}'>Заявки</a>
      <a href='{% url "reports" %}'>Отчеты</a>
    </nav>

    <div class="profile"><a href='{% url "profile" %}' ><img src='{% static "img/Без названия-2.png" %}' width="75px" ></a></div>
  </div>
</header>

<div class="container">
  <h1>Заявки</h1>
{% for application1 in application %}
  <div class="request">
    <div class="request-text">Заявка {{ application1.id }}. Продукт: {{ application1.product }}.  Вес: {{ application1.weight }}. 
        {% if application1.fast %}Срочно
                {% else %}
                Не срочно
                {% endif %}</div>
                <div class="actions">
            <form method="post" action="{% url 'approve_application' application1.id %}">
                {% csrf_token %}
                <button type="submit" class="btn approve">Одобрить</button>
            </form>
            
            <form method="post" action="{% url 'reject_application' application1.id %}">
                {% csrf_token %}
                <button type="submit" class="btn reject">Отказать</button>
            </form>
            </div>
  </div>
{% endfor %}

  <div class="reviewed">
    <h2>Рассмотренные заявки</h2>

    {% for applicat in application2 %}
    <div class="reviewed-item">
      <div>Заявка {{ applicat.id }}. Продукт: {{ applicat.product }}. Вес: {{ applicat.weight }}. {% if applicat.fast %}
                Срочно
                {% else %}
                Не срочно
                {% endif %}</div>
      <div class="status">Статус: {% if applicat.aggre_or_disagree == False %}
                Отклонена
                {% else %}
                Одобрена
                {% endif %}</div>
    </div>
{% endfor %}

  </div>
</div>

</body>
</html>



{% else %}
<h2>У вас нет прав</h2>
{% endif %}