@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
} 
 
body { 
    width: 100%;
    height: 100%;
    margin: 0 auto; 
} 
 
.page { 
    background-image: url('Снимок экрана 2026-02-06 в 00.26.45.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex; 
} 










 
.left { 
    width: 720px; 
    padding: 60px 100px; 
    position: relative; 
} 
 
.logo { 
    width: 56px; 
    height: 56px; 
} 
 
.form-box { 
    margin-top: 168px; 
    margin-left: 110px;
    width: 420px; 
} 
 
.form-box h1 { 
    display: flex;
    justify-content: center;
    color: #323142;
    font-size: 36px; 
    margin-bottom: 40px; 
} 
 
.input-group { 
    position: relative; 
    margin-bottom: 20px; 
} 
 
.input-group input { 
    width: 420px; 
    height: 65px; 
    border-radius: 12px; 
    border: none; 
    background: #f3f3f3; 
    padding-left: 60px; 
    font-size: 16px; 
} 
 
.icon { 
    position: absolute; 
    left: 15px; 
    top: 20px; 
    font-size: 18px; 
    opacity: 0.6; 
} 
 
.eye { 
    position: absolute; 
    right: 15px; 
    top: 21px; 
    cursor: pointer; 
} 
 
.btn-main { 
    width: 420px; 
    height: 74px; 
    border-radius: 14px; 
    border: none; 
    background: #6C5FBC; 
    color: white; 
    font-size: 16px; 
    margin-top: 20px; 
    cursor: pointer; 
} 
 .btn-main:hover{
    background: #52488e;
 }
.login-text { 
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    font-size: 16px; 
    color: #555; 
} 
 
.login-text a { 
    color: #6C5FBC; 
    text-decoration: none; 
    font-weight: bold; 
}