{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static "css/zakaz.css" %}">
</head>
<body>

<header class="header">
    <div class="logo"><a href='{% url "index" %}' ><img src="{% static "img/Logo.png" %}"></a></div>

    <nav class="nav">
      <a href='{% url "menu" %}'>Меню</a>
      <a href='{% url "box" %}'>Цена</a>
      <a href="#">Контакты</a>
    </nav>

    <div class="profile"><a href='{% url "profile" %}' ><img src='{% static "img/Без названия-2.png" %}' width="75px" ></a></div>
  </div>
</header>

<main class="container">
   
    <div class="title-wrapper">
  <h1 id="color">Заказы</h1>
</div>
  <section class="grid">
    {% for ord,rating in order %}
   <div class="card">
    <div class="image">Заглушка</div>
    <div class="name">{{ ord.structure }}</div>
    <div class="price">Стоимость: {{ ord.priceAll }}</div>
    {% if ord.ready and not ord.take_order%}
        <a class="price">Вы можете забрать заказ</a>
    {% elif ord.ready and ord.take_order %}
        <a class="price">Вы забрали заказ</a>
    {% else %}
        <a class="price">Ваш заказ ещё готов</a>
    {% endif %}
    <div><a class="add" {% if ord.ready %}href='{% url "add_to_comment" ord.id %}'{% endif %}><img src="{% static "img/Path Copy 4.png" %}" width="26px"></a></div>
   </div>
   {% endfor %}
  </section>
</main>


</body>

</html>
