@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
      font-family: 'Poppins', sans-serif;
      background: #fbfbff;
      color: #222;}

/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 28px;
}

.nav {
  display: flex;
  gap: 150px;
}

.nav a {
  text-decoration: none;
  color: #606060;
  font-weight: 600;
  font-size: 20px;
}


    

    .wrapper {
      max-width: 1140px;
      margin: 0 auto;
    }


    

    /* Основной блок */

    main {
      text-align: center;
      padding: 90px 16px 140px;
    }

    h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 70px;
      color: #323246;
    }

    .payment-table {
      transform: scale(1.1);
      max-width: 520px;
      margin: 0 auto 90px;
      font-size: 20px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .row span:nth-child(1) {
      flex: 1;
      text-align: left;
    }

    .row span:nth-child(2) {
      flex: 0 0 80px;
      text-align: center;
    }

    .row span:nth-child(3) {
      flex: 0 0 110px;
      text-align: right;
    }

    .btn-pay {
      display: inline-block;
      padding: 22px 150px;
      background: #6C5FBC;
      border-radius: 18px;
      border: none;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      transition: background .2s ease;
    }

    .btn-pay:hover {
      background: #52488e;
    }
  